<!DOCTYPE html>
<html lang="{{ site.locale }}">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">
      
    ##Bem vindo a Fortnite Grátis você está sendo redirecionado para a página oficial da Epic para baixar o Fortnite


    Esse não é o site oficial do Fortnite, somos apenas um redirecionado ao site oficial para que você possa baixar o jogo mais famoso da atualidade 
      
      ##O que é o Fortnite
      
      Fortnite é um jogo eletrônico multijogador online revelado originalmente em 2011, desenvolvido pela Epic Games e lançado como diferentes modos de jogo que compartilham a mesma jogabilidade e motor gráfico de jogo.
      

      {% include page-footer.html %}

    </section>

  </body>
</html>
