<!DOCTYPE html>
<html lang="{{ site.locale }}">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">
      
      <h1><b>Bem vindo a Fortnite Grátis você está sendo redirecionado para a página oficial da Epic para baixar o Fortnite</b></h1>


    Esse não é o site oficial do Fortnite, somos apenas um redirecionado ao site oficial para que você possa baixar o jogo mais famoso da atualidade 
      
      <h1><b>O que é o Fortnite</b></h1>
      
      Fortnite é um jogo eletrônico multijogador online revelado originalmente em 2011, desenvolvido pela Epic Games e lançado como diferentes modos de jogo que compartilham a mesma jogabilidade e motor gráfico de jogo.
      
      <h1><b>Imagens de Fortnite</b></h1>
      Veja abaixo imagens de Fortnite para computador, celular e video game:
      
      <img src=https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.epicgames.com%2Ffortnite%2Fpt-BR%2Fnews&psig=AOvVaw3hgVr_5FrbsmYDnPYxNMsL&ust=1599742299880000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPCtldaO3OsCFQAAAAAdAAAAABAD</img>
      {% include page-footer.html %}

    </section>

  </body>
</html>
