<!DOCTYPE html>
<html lang="{{ site.locale }}">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">
      
    ## Bem vindo a Fortnite Grátis você está sendo redirecionado para a página oficial da Epic para baixar o Fortnite


Esse não é o site oficial do Fortnite, somos apenas um redirecionado ao site oficial para que você possa baixar o jogo mais famoso da atualidade 
      

      {% include page-footer.html %}

    </section>

  </body>
</html>
